* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
}
body {
    background: #ccc;
}
.container {
    width: 900px;
    margin: 0 auto;
    padding: 30px 50px;
    background: #fff;
}

.main {
    display: flex;
    flex-direction: column;
}

.main .iconfont {
    font-size: 10px;
}

.main .name {
    font-size: 20px;
    font-weight: bolder;
}

.main .info {
    color: #666;
    font-size: 12px;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 4px;
}

.main .info.profile {
    gap: 8px;
}

.main .info.profile > span {
    display: flex;
    gap: 4px;
    align-items: center;
}

.main a,
.main a:hover,
.main a:visited,
.main a:focus,
.main a:active {
    color: #666;
    text-decoration: none;
}
