/*
  柑橘色------.f49d46
  水蓝色------.add4e3
  潜水蓝------.00b1cd
  树脂绿------.8ccdbe
  古典蓝------.005da4
  杏仁色------.e0c5a6
  草莓冰淇淋---.f8cfb2
  奶黄色------.f8ec8c
  马莎拉酒红---.b15c56
  冰川灰------.d4dcdd
  灰蓝色------.86b9d8
  叶绿色------.4e872f
  忍冬绿------.8c9a37
  沙黄色------.d39a65
  钛金灰------.96918d
  薰衣草紫----.b99abd
*/

body {
    background-color: #e5e5e5;
}
.container {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -105px;
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
}
.main {
    width: 600px;
    height: 450px;
    position: absolute;
    left: -200px;
    top: -150px;
    -webkit-transform: translateZ( -412px);
    -moz-transform: translateZ( -412px);
    -o-transform: translateZ( -412px);
    transform: translateZ( -412px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}
.box {
    width: 200px;
    height: 150px;
    position: absolute;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
}
.box:nth-child(odd) {
    background-color: rgba(173, 212, 227, 0.5);
}
.box:nth-child(even) {
    background-color: rgba(185, 154, 189, 0.5);
}
.box1 {
    top: 0;
    left: 0;
}
.box2 {
    top: 0;
    left: 200px;
}
.box3 {
    top: 0;
    left: 400px;
}
.box4 {
    top: 150px;
    left: 0;
}
.box5 {
    top: 150px;
    left: 200px;
}
.box6 {
    top: 150px;
    left: 400px;
}
.box7 {
    top: 300px;
    left: 0;
}
.box8 {
    top: 300px;
    left: 200px;
}
.box9 {
    top: 300px;
    left: 400px;
}
.carouselX .box {
    left: 199px;
    top: 149px;
}
.carouselX .box:nth-child(1) {
    -webkit-transform: rotateY( 200deg) translateZ( 412px);
    transform: rotateY( 200deg) translateZ( 412px);
}
.carouselX .box:nth-child(2) {
    -webkit-transform: rotateY( 240deg) translateZ( 412px);
    transform: rotateY( 240deg) translateZ( 412px);
}
.carouselX .box:nth-child(3) {
    -webkit-transform: rotateY( 280deg) translateZ( 412px);
    transform: rotateY( 280deg) translateZ( 412px);
}
.carouselX .box:nth-child(4) {
    -webkit-transform: rotateY( 320deg) translateZ( 412px);
    transform: rotateY( 320deg) translateZ( 412px);
}
.carouselX .box:nth-child(5) {
    -webkit-transform: rotateY( 0deg) translateZ( 412px);
    transform: rotateY( 0deg) translateZ( 412px);
}
.carouselX .box:nth-child(6) {
    -webkit-transform: rotateY( 40deg) translateZ( 412px);
    transform: rotateY( 40deg) translateZ( 412px);
}
.carouselX .box:nth-child(7) {
    -webkit-transform: rotateY( 80deg) translateZ( 412px);
    transform: rotateY( 80deg) translateZ( 412px);
}
.carouselX .box:nth-child(8) {
    -webkit-transform: rotateY( 120deg) translateZ( 412px);
    transform: rotateY( 120deg) translateZ( 412px);
}
.carouselX .box:nth-child(9) {
    -webkit-transform: rotateY( 160deg) translateZ( 412px);
    transform: rotateY( 160deg) translateZ( 412px);
}
.split .box:nth-child(1) {
    left: -30px;
    top: -30px;
}
.split .box:nth-child(2) {
    left: 200px;
    top: -30px;
}
.split .box:nth-child(3) {
    left: 430px;
    top: -30px;
}
.split .box:nth-child(4) {
    left: -30px;
    top: 150px;
}
.split .box:nth-child(5) {
    left: 200px;
    top: 150px;
}
.split .box:nth-child(6) {
    left: 430px;
    top: 150px;
}
.split .box:nth-child(7) {
    left: -30px;
    top: 330px;
}
.split .box:nth-child(8) {
    left: 200px;
    top: 330px;
}
.split .box:nth-child(9) {
    left: 430px;
    top: 330px;
}
.carouselY {
    -webkit-transform: translateZ( -275px);
    transform: translateZ( -275px);
}
.carouselY .box {
    left: 199px;
    top: 149px;
}
.carouselY .box:nth-child(9) {
    -webkit-transform: rotateX( 0deg) translateZ( 275px);
    transform: rotateX( 0deg) translateZ( 275px);
}
.carouselY .box:nth-child(1) {
    -webkit-transform: rotateX( 40deg) translateZ( 275px);
    transform: rotateX( 40deg) translateZ( 275px);
}
.carouselY .box:nth-child(2) {
    -webkit-transform: rotateX( 80deg) translateZ( 275px);
    transform: rotateX( 80deg) translateZ( 275px);
}
.carouselY .box:nth-child(3) {
    -webkit-transform: rotateX( 120deg) translateZ( 275px);
    transform: rotateX( 120deg) translateZ( 275px);
}
.carouselY .box:nth-child(4) {
    -webkit-transform: rotateX( 160deg) translateZ( 275px);
    transform: rotateX( 160deg) translateZ( 275px);
}
.carouselY .box:nth-child(5) {
    -webkit-transform: rotateX( 200deg) translateZ( 275px);
    transform: rotateX( 200deg) translateZ( 275px);
}
.carouselY .box:nth-child(6) {
    -webkit-transform: rotateX( 240deg) translateZ( 275px);
    transform: rotateX( 240deg) translateZ( 275px);
}
.carouselY .box:nth-child(7) {
    -webkit-transform: rotateX( 280deg) translateZ( 275px);
    transform: rotateX( 280deg) translateZ( 275px);
}
.carouselY .box:nth-child(8) {
    -webkit-transform: rotateX( 320deg) translateZ( 275px);
    transform: rotateX( 320deg) translateZ( 275px);
}
.cube .box3 {
    left: 200px;
    top: 150px;
    -webkit-transform: translateZ( 78px);
    transform: translateZ( 78px);
}
.cube .box5 {
    -webkit-transform: rotateX( -180deg) translateZ( 78px);
    transform: rotateX( -180deg) translateZ( 78px);
}
.cube .box6 {
    -webkit-transform: rotateY( 90deg) translateZ( -100px);
    transform: rotateY( 90deg) translateZ( -100px);
}
.cube .box4 {
    -webkit-transform: rotateY( -90deg) translateZ( -100px);
    transform: rotateY( -90deg) translateZ( -100px);
}
.cube .box2 {
    -webkit-transform: rotateX( 90deg) translateZ( -75px);
    transform: rotateX( 90deg) translateZ( -75px);
}
.cube .box8 {
    -webkit-transform: rotateX( -90deg) translateZ( -75px);
    transform: rotateX( -90deg) translateZ( -75px);
}
.cube .box1 {
    top: -30px;
    left: 200px;
    -webkit-transform: rotateX(-45deg);
    transform: rotateX(-45deg);
}
.cube .box7 {
    left: -30px;
    top: 330px;
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
}
.cube .box9 {
    left: 430px;
    top: 330px;
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
}