/*
  柑橘色------.f49d46
  水蓝色------.add4e3
  潜水蓝------.00b1cd
  树脂绿------.8ccdbe
  古典蓝------.005da4
  杏仁色------.e0c5a6
  草莓冰淇淋---.f8cfb2
  奶黄色------.f8ec8c
  马莎拉酒红---.b15c56
  冰川灰------.d4dcdd
  灰蓝色------.86b9d8
  叶绿色------.4e872f
  忍冬绿------.8c9a37
  沙黄色------.d39a65
  钛金灰------.96918d
  薰衣草紫----.b99abd
*/

body {
    background-color: #e5e5e5;
}
.container {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -105px;
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
}
.main {
    width: 600px;
    height: 450px;
    position: absolute;
    left: -200px;
    top: -150px;
    -webkit-transform: translateZ( -288px);
    -moz-transform: translateZ( -288px);
    -o-transform: translateZ( -288px);
    transform: translateZ( -288px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}
.box {
    width: 200px;
    height: 150px;
    position: absolute;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
}
.box:nth-child(odd) {
    background-color: rgba(173, 212, 227, 0.5);
}
.box:nth-child(even) {
    background-color: rgba(185, 154, 189, 0.5);
}
/*.box:nth-child(3n) {
    background-color: rgba(177, 92, 86, 0.5);
}
*/
.box1 {
    top: 0;
    left: 0;
}
.box2 {
    top: 0;
    left: 200px;
}
.box3 {
    top: 0;
    left: 400px;
}
.box4 {
    top: 150px;
    left: 0;
}
.box5 {
    top: 150px;
    left: 200px;
}
.box6 {
    top: 150px;
    left: 400px;
}
.box7 {
    top: 300px;
    left: 0;
}
.box8 {
    top: 300px;
    left: 200px;
}
.box9 {
    top: 300px;
    left: 400px;
}
.carousel .box {
    left: 199px;
    top: 149px;
}
.carousel .box:nth-child(5) {
    -webkit-transform: rotateY( 0deg) translateZ( 288px);
    -moz-transform: rotateY( 0deg) translateZ( 288px);
    -o-transform: rotateY( 0deg) translateZ( 288px);
    transform: rotateY( 0deg) translateZ( 288px);
}
.carousel .box:nth-child(6) {
    -webkit-transform: rotateY( 40deg) translateZ( 288px);
    -moz-transform: rotateY( 40deg) translateZ( 288px);
    -o-transform: rotateY( 40deg) translateZ( 288px);
    transform: rotateY( 40deg) translateZ( 288px);
}
.carousel .box:nth-child(7) {
    -webkit-transform: rotateY( 80deg) translateZ( 288px);
    -moz-transform: rotateY( 80deg) translateZ( 288px);
    -o-transform: rotateY( 80deg) translateZ( 288px);
    transform: rotateY( 80deg) translateZ( 288px);
}
.carousel .box:nth-child(8) {
    -webkit-transform: rotateY( 120deg) translateZ( 288px);
    -moz-transform: rotateY( 120deg) translateZ( 288px);
    -o-transform: rotateY( 120deg) translateZ( 288px);
    transform: rotateY( 120deg) translateZ( 288px);
}
.carousel .box:nth-child(9) {
    -webkit-transform: rotateY( 160deg) translateZ( 288px);
    -moz-transform: rotateY( 160deg) translateZ( 288px);
    -o-transform: rotateY( 160deg) translateZ( 288px);
    transform: rotateY( 160deg) translateZ( 288px);
}
.carousel .box:nth-child(1) {
    -webkit-transform: rotateY( 200deg) translateZ( 288px);
    -moz-transform: rotateY( 200deg) translateZ( 288px);
    -o-transform: rotateY( 200deg) translateZ( 288px);
    transform: rotateY( 200deg) translateZ( 288px);
}
.carousel .box:nth-child(2) {
    -webkit-transform: rotateY( 240deg) translateZ( 288px);
    -moz-transform: rotateY( 240deg) translateZ( 288px);
    -o-transform: rotateY( 240deg) translateZ( 288px);
    transform: rotateY( 240deg) translateZ( 288px);
}
.carousel .box:nth-child(3) {
    -webkit-transform: rotateY( 280deg) translateZ( 288px);
    -moz-transform: rotateY( 280deg) translateZ( 288px);
    -o-transform: rotateY( 280deg) translateZ( 288px);
    transform: rotateY( 280deg) translateZ( 288px);
}
.carousel .box:nth-child(4) {
    -webkit-transform: rotateY( 320deg) translateZ( 288px);
    -moz-transform: rotateY( 320deg) translateZ( 288px);
    -o-transform: rotateY( 320deg) translateZ( 288px);
    transform: rotateY( 320deg) translateZ( 288px);
}
