.move {
    display: block;
}
.move .line {
    position: absolute;
    background-color: #ddd;
    opacity: 0.75;
    z-index: 10;
}
.move .vertical {
    left: 250px;
    width: 100px;
    height: 600px;
}
.move .horizontal {
    top: 250px;
    width: 600px;
    height: 100px;
}
.matrix {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #aaa;
    z-index: 100;
    line-height: 100px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.fly {
    background-color: rgba(244, 157, 70, 0.8);
    top: 250px;
    left: 250px;
    z-index: 101;
    cursor: default;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
}
.top {
    left: 250px;
    top: 0;
}
.left {
    left: 0;
    top: 250px;
}
.right {
    right: 0;
    top: 250px;
}
.bottom {
    bottom: 0;
    left: 250px;
}
.fly-top {
    -webkit-transform: translateY(-250px);
}
.fly-bottom {
    -webkit-transform: translateY(250px);
}
.fly-left {
    -webkit-transform: translateX(-250px);
}
.fly-right {
    -webkit-transform: translateX(250px);
}
