// Custom styles.
.posts-expand {
    .post-meta {
        margin-bottom: 30px;
    }
    .post-eof {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.post-button {
    margin-top: 20px;
}
