// Custom styles.

$contextWidth: 750px;
.header-inner {
    width: $contextWidth;
}
.main-inner {
    margin-top: 30px;
    width: $contextWidth;
}
.posts-expand {
    .post {
        margin-top: 50px;
    }
    .post-meta {
        margin-bottom: 15px;
    }
    .post-eof {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.post-button {
    margin-top: 20px;
    display: none;
}
